@model IEnumerable<API.DTOs.Employee.GetEmployeeDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="Employee/Create">Create New</a>
</p>
<form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birtdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Guid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birtdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
                <td>
                    <form action="/Employee/Edit" method="get">
                        <input type="hidden" value="@item.Guid" name="guid" />
                        <input type="submit" value="Edit" class="btn btn-warning" />
                    </form>
                    <form action="/employee/delete" method="post" onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?')">
                        <input type="hidden" value="@item.Guid" name="guid" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>